@import './_variables';
@import './_typography';
@import './_topbar';
@import './_footer';
@import './main.scss';

@font-face {
    font-family: 'Agdasima';
    src: url('../../public/fonts/Agdasima-Bold.eot');
    src: url('../../public/fonts/Agdasima-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Agdasima-Bold.woff2') format('woff2'),
        url('../../public/fonts/Agdasima-Bold.woff') format('woff'),
        url('../../public/fonts/Agdasima-Bold.ttf') format('truetype'),
        url('../../public/fonts/Agdasima-Bold.svg#Agdasima-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SheepmanW03';
    src: url('../../public/fonts/SheepmanW03-Regular.eot');
    src: url('../../public/fonts/SheepmanW03-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/SheepmanW03-Regular.woff2') format('woff2'),
        url('../../public/fonts/SheepmanW03-Regular.woff') format('woff'),
        url('../../public/fonts/SheepmanW03-Regular.ttf') format('truetype'),
        url('../../public/fonts/SheepmanW03-Regular.svg#SheepmanW03-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Poppins';
    src: url('../../public//fonts/Poppins-Bold.eot');
    src: url('../../public//fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public//fonts/Poppins-Bold.woff2') format('woff2'),
        url('../../public//fonts/Poppins-Bold.woff') format('woff'),
        url('../../public//fonts/Poppins-Bold.ttf') format('truetype'),
        url('../../public//fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public//fonts/Poppins-Medium.eot');
    src: url('../../public//fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../public//fonts/Poppins-Medium.woff2') format('woff2'),
        url('../../public//fonts/Poppins-Medium.woff') format('woff'),
        url('../../public//fonts/Poppins-Medium.ttf') format('truetype'),
        url('../../public//fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public//fonts/Poppins-Light.eot');
    src: url('../../public//fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public//fonts/Poppins-Light.woff2') format('woff2'),
        url('../../public//fonts/Poppins-Light.woff') format('woff'),
        url('../../public//fonts/Poppins-Light.ttf') format('truetype'),
        url('../../public//fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public//fonts/Poppins-Regular.eot');
    src: url('../../public//fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public//fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../public//fonts/Poppins-Regular.woff') format('woff'),
        url('../../public//fonts/Poppins-Regular.ttf') format('truetype'),
        url('../../public//fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
